* {
  margin: 0;
  padding: 0;

  font-family: "Helvetica Neue", Helvetica, Arial;

  /* Neumorplish Colors */
  --white: #FFFFFF;
  --greyLight: #f4f7ff;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --dark: #424f6e;
}

/* Neumorphism Shadows */
.shadow{
  box-shadow: .3rem .3rem .6rem var(--greyLight-2), 
              -.2rem -.2rem .5rem var(--white);
}
.shadow-sm{
  box-shadow: .15rem .15rem .3rem var(--greyLight-2), 
              -.1rem -.1rem .25rem var(--white);
}
.inner-shadow{
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
              inset -.2rem -.2rem .5rem var(--white);
}
.inner-shadow-sm{
  box-shadow: inset .1rem .1rem .25rem var(--greyLight-2), 
              inset -.1rem -.1rem .25rem var(--white);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--greyLight);
}
ul {
  display: flex;
  list-style: none;
}

/* ----- HEADER ----- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 20px 0;
  margin-left: auto;
  border-radius: 0 0 0 40px;
  color: var(--dark);
}
header h1 {
  margin-left: 30px;
}
header ul {
  margin-right: 15px;
}
header li {
  padding: 5px;
  margin: 0 15px;
}
/* Algorith Radio */
.algorithm-options li {
  width: 100px;
  height: 40px;
  position: relative;
}
.algorithm-options label,
.algorithm-options input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
}
.algorithm-options input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}
.algorithm-options input[type="radio"]:checked+label,
.Checked+label {
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
  inset -.2rem -.2rem .5rem var(--white);
}
.algorithm-options label {
  padding: 5px;
  cursor: pointer;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow .25s ease;
}


/* ----- MAIN ----- */
main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: calc(100% - 100px);
  width: 100%;
}
/* Quantity Input Box */
.quantity{
  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
}
.quantity input{
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 20px 10px 20px 20px;
  width: 55px;
  font-size: 18px;
  color: var(--dark);
  background-color: var(--greyLight);
}

/* Sorting Elements */
.el-container{
  margin-top: 2.5em;
  width: 100%;
  min-width: 1000px;
  display: flex;
  justify-content: center;
}
.element{
  background: #fcfdff;
  width: .5%;
  text-align: center;
  margin-left: .4%;
  border-radius: 5px;
}
