* {
  margin: 0;
  padding: 0;

  font-family: "Helvetica Neue", Helvetica, Arial;

  /* Neumorplish Colors */
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

.shadow{
  box-shadow: .3rem .3rem .6rem var(--greyLight-2), 
              -.2rem -.2rem .5rem var(--white);
}
.shadow-sm{
  box-shadow: .15rem .15rem .3rem var(--greyLight-2), 
              -.1rem -.1rem .25rem var(--white);
}
.inner-shadow{
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
              inset -.2rem -.2rem .5rem var(--white);
}


body {
  width: 100vw;
  height: 100vh;
}
ul {
  display: flex;
  list-style: none;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 20px 0;
  margin-left: auto;
  border-radius: 0 0 0 40px;
}
header h1 {
  margin-left: 30px;
}
header ul {
  margin-right: 15px;
}
header li {
  padding: 5px;
  margin: 0 15px;
}

/* Main */
main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: calc(100% - 100px);
  width: 100%;
}



/* Random Elements */
.element{
  background: white;
  padding: 10px 2px;
  text-align: center;
  margin: 20px 2px 0px 2px;
  border-radius: 5px;
}
.el-amount{
  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
}
